#formulario {

    border-radius: 20px;
    width: 400px;
    height: 350px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: solid 1px black;
    background-color: whitesmoke;
}

#cadastro {
    width: 600px;
}

.layout {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.bordas {
    border: solid 1px black;
}

.centralizar {
    align-items: center;
}

.botoesCadastro {
    margin-top: 10px;
    float: left;
}

table {
    border-collapse: collapse;
}
table th, table td {
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px #ccc;
}
